@import url('https://fonts.cdnfonts.com/css/royal-acidbath');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/proxima-nova-condensed');
@import url('https://fonts.cdnfonts.com/css/roboto-condensed');
@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

/* Add vendor prefixes for Safari-specific properties */
/* You may need to add prefixes for specific properties based on your CSS usage */


/* main-layout */
  /* Styles for tablets */

/* Default styles for body */
html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  color: var(--main-color);
  background: rgb(255, 253, 248) 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-sizing: border-box;
  overflow-x: hidden;

}
.home-title {
  display: -webkit-box;        /* OLD - iOS 6-, Safari 3.1-6 */
  display: -ms-flexbox;        /* TWEENER - IE 10 */
  display: -webkit-flex;       /* NEW - Chrome */
  display: flex;               /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-box-pack: center;    /* OLD - iOS 6-, Safari 3.1-6 */
  -ms-flex-pack: center;       /* TWEENER - IE 10 */
  -webkit-justify-content: center; /* NEW - Chrome */
  justify-content: center;     /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-box-align: center;   /* OLD - iOS 6-, Safari 3.1-6 */
  -ms-flex-align: center;      /* TWEENER - IE 10 */
  -webkit-align-items: center; /* NEW - Chrome */
  align-items: center;         /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-box-orient: vertical; /* OLD - iOS 6-, Safari 3.1-6 */
  -webkit-box-direction: normal; /* OLD - iOS 6-, Safari 3.1-6 */
  -ms-flex-direction: column;  /* TWEENER - IE 10 */
  -webkit-flex-direction: column; /* NEW - Chrome */
  flex-direction: column;      /* NEW, Spec - Firefox, Chrome, Opera */
  margin: 0 auto;
  height: 100px;
  margin-bottom: 2%;
}
.border-radius{
  border-radius: 50%;
}

/* Base Styles */
a {
  color: #007BFF; /* Initial color of the link */
  background-color: transparent; /* Initial background color */
  text-decoration: none; /* Remove underline */
  padding: 5px 10px; /* Add some padding */
  transition: color 0.3s ease, background-color 0.3s ease; /* Smooth transition for color and background color changes */
}

a:hover {
  color: #66B2FF; /* Lighter color on hover */
  background-color: rgba(102, 178, 255, 0.1); /* Light background color on hover */
}

h1 {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

h2 {

  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;

}

h3 {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

p {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Media Queries */

/* For devices with a maximum width of 768px */
@media (max-width: 768px) {
  a {
      padding: 4px 8px; /* Adjust padding for smaller screens */
  }

  h1 {
      font-size: 1.5em; /* Adjust font size for smaller screens */
  }

  h2 {
      font-size: 1.25em; /* Adjust font size for smaller screens */
  }

  h3 {
      font-size: 1.1em; /* Adjust font size for smaller screens */
  }

  p {
      font-size: 1em; /* Adjust font size for smaller screens */
  }
}

/* For devices with a maximum width of 480px */
@media (max-width: 480px) {
  a {
      padding: 3px 6px; /* Further adjust padding for smaller screens */
  }

  h1 {
      font-size: 1.2em; /* Further adjust font size for smaller screens */
  }

  h2 {
      font-size: 1em; /* Further adjust font size for smaller screens */
  }

  h3 {
      font-size: 0.9em; /* Further adjust font size for smaller screens */
  }

  p {
      font-size: 0.9em; /* Further adjust font size for smaller screens */
  }
}


.nav-bar {
  position: relative;
  display: -webkit-box; /* Safari */
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -webkit-box-pack: justify; /* Safari */
  -ms-flex-pack: justify; /* IE 10 */
  justify-content: space-between;
  -webkit-box-align: center; /* Safari */
  -ms-flex-align: center; /* IE 10 */
  align-items: center;
  color: black;
  width: 100%;
  z-index: 1000;
  height: 60px;
}

.logo img {
  max-height: 80px;
  margin-left: 12px; /* Adjust the max height based on your logo size preference */
}

.nav-menu {
  list-style-type: none;
  display: -webkit-box; /* Safari */
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  margin-right: 12px;
}

.nav-menu li {
  margin-right: 20px;
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: 250;
  font-family: 'Oswald', sans-serif;
}


.nav-menu a {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  margin-bottom: 1em;
  padding: 8px; /* Increased padding for a larger clickable area */
  transition: background-color 0.4s ease, box-shadow 0.4s ease;
}

.nav-menu a:hover {
  background-color: #ff9900; /* Change to your preferred hover color */
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhanced box shadow on hover */
}

.nav-toggle {
  display: none; /* Initially hidden on larger screens */
}

@media (max-width: 768px) {
  .nav-toggle {
      display: block;
      cursor: pointer; /* Change cursor to pointer for better UX */
      padding: 10px; /* Add padding for better visibility */
      z-index: 1001; /* Ensure toggle is above the menu */
      position: absolute; /* Ensure toggle stays in place */
      right: 12px; /* Align to the right */
      top: 50%; /* Center vertically */
      transform: translateY(-50%); /* Center vertically */
  }

  .nav-menu-container {
      display: none; /* Initially hide the nav menu */
      position: absolute; /* Position menu container */
      top: 60px; /* Adjust top position as needed */
      left: 0; /* Align menu container with left edge */
      width: 100%; /* Make menu container full width */
      background-color: #fff; /* Adjust background color as needed */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for better visibility */
      z-index: 1000; /* Ensure menu is on top of other elements */
  }

  .nav-menu-container.active {
      display: block; /* Display the menu container when active */
  }

  .nav-menu {
      -webkit-box-orient: vertical; /* Safari */
      -webkit-box-direction: normal; /* Safari */
      -ms-flex-direction: column; /* IE 10 */
      flex-direction: column;
      width: 100%; /* Ensure the menu takes full width */
  }

  .nav-menu li {
      padding: 10px; /* Adjust padding as needed */
      border-bottom: 1px solid #eee; /* Add bottom border between items */
      width: 100%; /* Ensure the items take full width */
  }

  .nav-menu a {
      color: black; /* Adjust text color as needed */
      font-size: 16px; /* Adjust font size as needed */
      display: block; /* Ensure the links take full width */
  }
}
@media (max-width: 480px) {
  .nav-toggle {
      display: block;
      cursor: pointer; /* Change cursor to pointer for better UX */
      padding: 10px; /* Add padding for better visibility */
      z-index: 1001; /* Ensure toggle is above the menu */
      position: absolute; /* Ensure toggle stays in place */
      right: 12px; /* Align to the right */
      top: 50%; /* Center vertically */
      transform: translateY(-50%); /* Center vertically */
  }

  .nav-menu-container {
      display: none; /* Initially hide the nav menu */
      position: absolute; /* Position menu container */
      top: 60px; /* Adjust top position as needed */
      left: 0; /* Align menu container with left edge */
      width: 100%; /* Make menu container full width */
      background-color: #fff; /* Adjust background color as needed */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for better visibility */
      z-index: 1000; /* Ensure menu is on top of other elements */
  }

  .nav-menu-container.active {
      display: block; /* Display the menu container when active */
  }

  .nav-menu {
      -webkit-box-orient: vertical; /* Safari */
      -webkit-box-direction: normal; /* Safari */
      -ms-flex-direction: column; /* IE 10 */
      flex-direction: column;
      width: 100%; /* Ensure the menu takes full width */
  }

  .nav-menu li {
      padding: 10px; /* Adjust padding as needed */
      border-bottom: 1px solid #eee; /* Add bottom border between items */
      width: 100%; /* Ensure the items take full width */
  }

  .nav-menu a {
      color: black; /* Adjust text color as needed */
      font-size: 16px; /* Adjust font size as needed */
      display: block; /* Ensure the links take full width */
  }
}

  .banner {
    width: 100%;
    height: 600px; /* or any desired height */
    background-image: -webkit-image-set(url('../../images/banner_img3.jpeg') 1x);
    background-image: -moz-image-set(url('../../images/banner_img3.jpeg') 1x);
    background-image: -o-image-set(url('../../images/banner_img3.jpeg') 1x);
    background-image: image-set(url('../../images/banner_img3.jpeg') 1x);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover; /* OLD - Webkit */
    -moz-background-size: cover;    /* OLD - Firefox 3.6+ */
    -o-background-size: cover;      /* OLD - Opera 9.5+ */
    background-size: cover;         /* NEW - Spec */
  }

  @media only screen and (max-width: 768px) {
    .banner {
      background-image: -webkit-image-set(url('../../images/banner_img3.jpeg') 1x);
      background-image: -moz-image-set(url('../../images/banner_img3.jpeg') 1x);
      background-image: -o-image-set(url('../../images/banner_img3.jpeg') 1x);
      background-image: image-set(url('../../images/banner_img3.jpeg') 1x);
      height: 400px;
      -webkit-background-size: cover; /* OLD - Webkit */
      -moz-background-size: cover;    /* OLD - Firefox 3.6+ */
      -o-background-size: cover;      /* OLD - Opera 9.5+ */
      background-size: cover;         /* NEW - Spec */
    }
  }

  @media only screen and (max-width: 480px) {
    .banner {
      background-image: -webkit-image-set(url('../../images/banner_img3.jpeg') 1x);
      background-image: -moz-image-set(url('../../images/banner_img3.jpeg') 1x);
      background-image: -o-image-set(url('../../images/banner_img3.jpeg') 1x);
      background-image: image-set(url('../../images/banner_img3.jpeg') 1x);
      height: 400px;
      -webkit-background-size: cover; /* OLD - Webkit */
      -moz-background-size: cover;    /* OLD - Firefox 3.6+ */
      -o-background-size: cover;      /* OLD - Opera 9.5+ */
      background-size: cover;         /* NEW - Spec */
    }
  }


.main-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-box-orient: vertical; /* OLD - iOS 6-, Safari 3.1-6 */
  -webkit-box-direction: normal; /* OLD - iOS 6-, Safari 3.1-6 */
  -ms-flex-direction: column; /* TWEENER - IE 10 */
  -webkit-flex-direction: column; /* NEW - Chrome */
  flex-direction: column;    /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-box-pack: center;  /* OLD - iOS 6-, Safari 3.1-6 */
  -ms-flex-pack: center;     /* TWEENER - IE 10 */
  -webkit-justify-content: center; /* NEW - Chrome */
  justify-content: center;   /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-box-align: center; /* OLD - iOS 6-, Safari 3.1-6 */
  -ms-flex-align: center;    /* TWEENER - IE 10 */
  -webkit-align-items: center; /* NEW - Chrome */
  align-items: center;       /* NEW, Spec - Firefox, Chrome, Opera */
}


.about {
  max-width: 1200px;
  width: 100%;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-box-orient: vertical; /* OLD - iOS 6-, Safari 3.1-6 */
  -webkit-box-direction: normal; /* OLD - iOS 6-, Safari 3.1-6 */
  -ms-flex-direction: column; /* TWEENER - IE 10 */
  -webkit-flex-direction: column; /* NEW - Chrome */
  flex-direction: column;    /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-box-pack: justify; /* OLD - iOS 6-, Safari 3.1-6 */
  -ms-flex-pack: distribute; /* TWEENER - IE 10 */
  -webkit-justify-content: space-evenly; /* NEW - Chrome */
  justify-content: space-evenly; /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-box-align: center; /* OLD - iOS 6-, Safari 3.1-6 */
  -ms-flex-align: center;    /* TWEENER - IE 10 */
  -webkit-align-items: center; /* NEW - Chrome */
  align-items: center;       /* NEW, Spec - Firefox, Chrome, Opera */
  border-radius: 8px;
  margin-top: 4%;
  margin-bottom: 4%;
}

@media only screen and (max-width: 768px) {
  .about {
    max-width: 400px;
    width: 100%;
    padding: 0px;
  }
}

@media only screen and (max-width: 480px) {
  .about {
    max-width: 360px;
    width: 100%;
    padding: 0px;
  }
}

.yuka-profile{
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.yuka-profile {
  max-width: 300px;
  width: 100%;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-box-orient: vertical; /* OLD - iOS 6-, Safari 3.1-6 */
  -webkit-box-direction: normal; /* OLD - iOS 6-, Safari 3.1-6 */
  -ms-flex-direction: column; /* TWEENER - IE 10 */
  -webkit-flex-direction: column; /* NEW - Chrome */
  flex-direction: column;    /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-box-pack: center;  /* OLD - iOS 6-, Safari 3.1-6 */
  -ms-flex-pack: center;     /* TWEENER - IE 10 */
  -webkit-justify-content: center; /* NEW - Chrome */
  justify-content: center;   /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-box-align: center; /* OLD - iOS 6-, Safari 3.1-6 */
  -ms-flex-align: center;    /* TWEENER - IE 10 */
  -webkit-align-items: center; /* NEW - Chrome */
  align-items: center;       /* NEW, Spec - Firefox, Chrome, Opera */
  border-radius: 8px;
}


.yuka-profile p{
  text-align: center;
}

.yuka-profile h3{
  margin: 0px;
  text-align: center;
}
.img-circle{
  width: 240px;
  border-radius: 50%;
}
@media only screen and (max-width: 768px) {
  .img-circle {
    width: 180px;
  }
}
@media only screen and (max-width: 480px) {
  .img-circle {
    width: 180px;

  }
}
.about-bio{
  max-width: 800px;
  width: 100%;
  text-align: left;
}

.about-info {
  border-top: 1px solid black;
  max-width: 800px;
  width: 800px;
  display: -webkit-box; /* Safari */
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -webkit-box-pack: justify; /* Safari */
  -ms-flex-pack: justify; /* IE 10 */
  justify-content: space-evenly;
}

@media only screen and (max-width: 768px) {
  .about-info {
      max-width: 360px;
      width: 100%;
      -webkit-box-orient: vertical; /* Safari */
      -webkit-box-direction: normal; /* Safari */
      -ms-flex-direction: column; /* IE 10 */
      flex-direction: column;
  }
}

@media only screen and (max-width: 480px) {
  .about-info {
      max-width: 360px;
      width: 100%;
      -webkit-box-orient: vertical; /* Safari */
      -webkit-box-direction: normal; /* Safari */
      -ms-flex-direction: column; /* IE 10 */
      flex-direction: column;
  }
}


.about-info li{
  list-style-type: none;
  font-style: italic;
  margin: 0px;
}

.wink-offering{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.offering-list{
  margin:0px;
  padding: 0px;
}

.wink-qualifications{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.qualifications-list{
  margin:0px;
  padding: 0px;
}

.navigation-wrapper {
  max-width: 1200px;
  width: 100%;
  display: -ms-grid;           /* TWEENER - IE 10 */
  display: grid;               /* NEW, Spec - Firefox, Chrome, Opera */
  -ms-grid-columns: 1fr 1fr 1fr; /* TWEENER - IE 10 */
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;    /* OLD - iOS 6-, Safari 3.1-6 */
  -ms-flex-pack: center;       /* TWEENER - IE 10 */
  -webkit-justify-content: center; /* NEW - Chrome */
  justify-content: center;     /* NEW, Spec - Firefox, Chrome, Opera */
  gap: 4px;
  border-radius: 4px;
  padding: 4px;
}

@media only screen and (max-width: 768px) {
  .navigation-wrapper {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-box-orient: vertical; /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-box-direction: normal; /* OLD - iOS 6-, Safari 3.1-6 */
    -ms-flex-direction: column; /* TWEENER - IE 10 */
    -webkit-flex-direction: column; /* NEW - Chrome */
    flex-direction: column;    /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-box-pack: center;  /* OLD - iOS 6-, Safari 3.1-6 */
    -ms-flex-pack: center;     /* TWEENER - IE 10 */
    -webkit-justify-content: center; /* NEW - Chrome */
    justify-content: center;   /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-box-align: center; /* OLD - iOS 6-, Safari 3.1-6 */
    -ms-flex-align: center;    /* TWEENER - IE 10 */
    -webkit-align-items: center; /* NEW - Chrome */
    align-items: center;       /* NEW, Spec - Firefox, Chrome, Opera */
    padding: 0px;
  }
}

@media only screen and (max-width: 480px) {
  .navigation-wrapper {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-box-orient: vertical; /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-box-direction: normal; /* OLD - iOS 6-, Safari 3.1-6 */
    -ms-flex-direction: column; /* TWEENER - IE 10 */
    -webkit-flex-direction: column; /* NEW - Chrome */
    flex-direction: column;    /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-box-pack: center;  /* OLD - iOS 6-, Safari 3.1-6 */
    -ms-flex-pack: center;     /* TWEENER - IE 10 */
    -webkit-justify-content: center; /* NEW - Chrome */
    justify-content: center;   /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-box-align: center; /* OLD - iOS 6-, Safari 3.1-6 */
    -ms-flex-align: center;    /* TWEENER - IE 10 */
    -webkit-align-items: center; /* NEW - Chrome */
    align-items: center;       /* NEW, Spec - Firefox, Chrome, Opera */
    padding: 0px;
  }
}



.nav-card {
  max-width: 360px;
  width: 100%;
  border-radius: 8px;
  position: relative;
  color: white;
}
@media only screen and (max-width: 768px) {
  .nav-card{
    max-width: 300px;
    width: 100%;

  }
}
@media only screen and (max-width: 480px) {
  .nav-card{
    max-width: 300px;
    width: 100%;

  }
}


.nav-card-img {
  max-width: 360px;
  width: 100%;
  height: 600px;
  border-radius: 8px;
  opacity: 0.5;
  transition: opacity 0.3s ease, filter 0.3s ease;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-box-pack: center;  /* OLD - iOS 6-, Safari 3.1-6 */
  -ms-flex-pack: center;     /* TWEENER - IE 10 */
  -webkit-justify-content: center; /* NEW - Chrome */
  justify-content: center;   /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-box-align: center; /* OLD - iOS 6-, Safari 3.1-6 */
  -ms-flex-align: center;    /* TWEENER - IE 10 */
  -webkit-align-items: center; /* NEW - Chrome */
  align-items: center;       /* NEW, Spec - Firefox, Chrome, Opera */
}

@media only screen and (max-width: 768px) {
  .nav-card-img {
    max-width: 300px;
    width: 100%;
    height: 400px;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Firefox, Chrome, Opera */
    text-align: center;
    -webkit-box-orient: vertical; /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-box-direction: normal; /* OLD - iOS 6-, Safari 3.1-6 */
    -ms-flex-direction: column; /* TWEENER - IE 10 */
    -webkit-flex-direction: column; /* NEW - Chrome */
    flex-direction: column;    /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-box-pack: center;  /* OLD - iOS 6-, Safari 3.1-6 */
    -ms-flex-pack: center;     /* TWEENER - IE 10 */
    -webkit-justify-content: center; /* NEW - Chrome */
    justify-content: center;   /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-box-align: center; /* OLD - iOS 6-, Safari 3.1-6 */
    -ms-flex-align: center;    /* TWEENER - IE 10 */
    -webkit-align-items: center; /* NEW - Chrome */
    align-items: center;       /* NEW, Spec - Firefox, Chrome, Opera */
    padding: 0px;
  }
}

@media only screen and (max-width: 480px) {
  .nav-card-img {
    max-width: 300px;
    width: 100%;
    height: 400px;
    text-align: center;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-box-orient: vertical; /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-box-direction: normal; /* OLD - iOS 6-, Safari 3.1-6 */
    -ms-flex-direction: column; /* TWEENER - IE 10 */
    -webkit-flex-direction: column; /* NEW - Chrome */
    flex-direction: column;    /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-box-pack: center;  /* OLD - iOS 6-, Safari 3.1-6 */
    -ms-flex-pack: center;     /* TWEENER - IE 10 */
    -webkit-justify-content: center; /* NEW - Chrome */
    justify-content: center;   /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-box-align: center; /* OLD - iOS 6-, Safari 3.1-6 */
    -ms-flex-align: center;    /* TWEENER - IE 10 */
    -webkit-align-items: center; /* NEW - Chrome */
    align-items: center;       /* NEW, Spec - Firefox, Chrome, Opera */
    padding: 0px;
  }
}



.nav-card a:hover .nav-card-img,
.nav-card a:focus .nav-card-img {
  opacity: 0.7;
  filter: hue-rotate(60deg); /* Adjust the hue rotation for hover effect */
}

.nav-card a:active .nav-card-img {
  opacity: 0.9;
  filter: hue-rotate(30deg); /* Adjust the hue rotation for active effect */
}

.test {
  font-size: 90px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none; /* Ensures text is not interactive/clickable */
}
@media only screen and (max-width: 768px) {
  .test{
    font-size: 70px;
    text-align: center;


  }
}
@media only screen and (max-width: 480px) {
  .test{
    font-size: 70px;
    text-align: center;



  }
}
