
a {
  color: #007BFF; /* Initial color of the link */
  background-color: transparent; /* Initial background color */
  text-decoration: none; /* Remove underline */
  padding: 5px 10px; /* Add some padding */
  transition: color 0.3s ease, background-color 0.3s ease; /* Smooth transition for color and background color changes */
}

a:hover {
  color: #66B2FF; /* Lighter color on hover */
  background-color: rgba(102, 178, 255, 0.1); /* Light background color on hover */
}

h1 {
  font-family: "Arsenal", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-family: "Arsenal", sans-serif;
  font-weight: 600;
  font-style: normal;
}

h3 {
  font-family: "Arsenal", sans-serif;
  font-weight: 500;
  font-style: normal;
}

p {
  font-family: "Arsenal", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Media Queries */

/* For devices with a maximum width of 768px */
@media (max-width: 768px) {
  a {
      padding: 4px 8px; /* Adjust padding for smaller screens */
  }

  h1 {
      font-size: 1.5em; /* Adjust font size for smaller screens */
  }

  h2 {
      font-size: 1.25em; /* Adjust font size for smaller screens */
  }

  h3 {
      font-size: 1.1em; /* Adjust font size for smaller screens */
  }

  p {
      font-size: 1em; /* Adjust font size for smaller screens */
  }
}

/* For devices with a maximum width of 480px */
@media (max-width: 480px) {
  a {
      padding: 3px 6px; /* Further adjust padding for smaller screens */
  }

  h1 {
      font-size: 1.2em; /* Further adjust font size for smaller screens */
  }

  h2 {
      font-size: 1em; /* Further adjust font size for smaller screens */
  }

  h3 {
      font-size: 0.9em; /* Further adjust font size for smaller screens */
  }

  p {
      font-size: 0.9em; /* Further adjust font size for smaller screens */
  }
}

.nav-bar {
  position: relative;
  display: -webkit-box; /* Safari */
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -webkit-box-pack: justify; /* Safari */
  -ms-flex-pack: justify; /* IE 10 */
  justify-content: space-between;
  -webkit-box-align: center; /* Safari */
  -ms-flex-align: center; /* IE 10 */
  align-items: center;
  color: black;
  width: 100%;
  z-index: 1000;
  height: 60px;
}

.logo img {
  max-height: 80px;
  margin-left: 12px; /* Adjust the max height based on your logo size preference */
}

.nav-menu {
  list-style-type: none;
  display: -webkit-box; /* Safari */
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  margin-right: 12px;
}

.nav-menu li {
  margin-right: 20px;
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: 250;
  font-family: 'Oswald', sans-serif;
}

.nav-menu a {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  margin-bottom: 1em;
  padding: 8px; /* Increased padding for a larger clickable area */
  transition: background-color 0.4s ease, box-shadow 0.4s ease;
}

.nav-menu a:hover {
  background-color: #ff9900; /* Change to your preferred hover color */
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhanced box shadow on hover */
}

.nav-toggle {
  display: none; /* Initially hidden on larger screens */
}

@media (max-width: 768px) {
  .nav-toggle {
      display: block;
      cursor: pointer; /* Change cursor to pointer for better UX */
      padding: 10px; /* Add padding for better visibility */
      z-index: 1001; /* Ensure toggle is above the menu */
      position: absolute; /* Ensure toggle stays in place */
      right: 12px; /* Align to the right */
      top: 50%; /* Center vertically */
      transform: translateY(-50%); /* Center vertically */
  }

  .nav-menu-container {
      display: none; /* Initially hide the nav menu */
      position: absolute; /* Position menu container */
      top: 60px; /* Adjust top position as needed */
      left: 0; /* Align menu container with left edge */
      width: 100%; /* Make menu container full width */
      background-color: #fff; /* Adjust background color as needed */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for better visibility */
      z-index: 1000; /* Ensure menu is on top of other elements */
  }

  .nav-menu-container.active {
      display: block; /* Display the menu container when active */
  }

  .nav-menu {
      -webkit-box-orient: vertical; /* Safari */
      -webkit-box-direction: normal; /* Safari */
      -ms-flex-direction: column; /* IE 10 */
      flex-direction: column;
      width: 100%; /* Ensure the menu takes full width */
  }

  .nav-menu li {
      padding: 10px; /* Adjust padding as needed */
      border-bottom: 1px solid #eee; /* Add bottom border between items */
      width: 100%; /* Ensure the items take full width */
  }

  .nav-menu a {
      color: black; /* Adjust text color as needed */
      font-size: 16px; /* Adjust font size as needed */
      display: block; /* Ensure the links take full width */
  }
}
@media (max-width: 480px) {
  .nav-toggle {
      display: block;
      cursor: pointer; /* Change cursor to pointer for better UX */
      padding: 10px; /* Add padding for better visibility */
      z-index: 1001; /* Ensure toggle is above the menu */
      position: absolute; /* Ensure toggle stays in place */
      right: 12px; /* Align to the right */
      top: 50%; /* Center vertically */
      transform: translateY(-50%); /* Center vertically */
  }

  .nav-menu-container {
      display: none; /* Initially hide the nav menu */
      position: absolute; /* Position menu container */
      top: 60px; /* Adjust top position as needed */
      left: 0; /* Align menu container with left edge */
      width: 100%; /* Make menu container full width */
      background-color: #fff; /* Adjust background color as needed */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for better visibility */
      z-index: 1000; /* Ensure menu is on top of other elements */
  }

  .nav-menu-container.active {
      display: block; /* Display the menu container when active */
  }

  .nav-menu {
      -webkit-box-orient: vertical; /* Safari */
      -webkit-box-direction: normal; /* Safari */
      -ms-flex-direction: column; /* IE 10 */
      flex-direction: column;
      width: 100%; /* Ensure the menu takes full width */
  }

  .nav-menu li {
      padding: 10px; /* Adjust padding as needed */
      border-bottom: 1px solid #eee; /* Add bottom border between items */
      width: 100%; /* Ensure the items take full width */
  }

  .nav-menu a {
      color: black; /* Adjust text color as needed */
      font-size: 16px; /* Adjust font size as needed */
      display: block; /* Ensure the links take full width */
  }
}
.yoga-banner{
  width: 100%;
  height: 600px; /* or any desired height */
  background-image: -webkit-image-set(url('../../images/banner_img3.jpeg') 1x);
  background-image: -moz-image-set(url('../../images/banner_img3.jpeg') 1x);
  background-image: -o-image-set(url('../../images/banner_img3.jpeg') 1x);
  background-image: image-set(url('../../images/banner_img3.jpeg') 1x);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover; /* OLD - Webkit */
  -moz-background-size: cover;    /* OLD - Firefox 3.6+ */
  -o-background-size: cover;      /* OLD - Opera 9.5+ */
  background-size: cover;

  }
  @media only screen and (max-width: 768px) {
    .yoga-banner {
      background-image: image-set(url('../../images/banner_img3.jpeg') 1x);

    }
  }
  @media only screen and (max-width: 480px) {
    .yoga-banner {
      background-image: image-set(url('../../images/banner_img3.jpeg') 1x);


    }
  }
  .yoga-title {
    border-top: 1px solid black;
    display: -webkit-box;  /* Vendor prefix for older WebKit browsers */
    display: -ms-flexbox;  /* Vendor prefix for IE 10 */
    display: flex;         /* Standard display property */
    -webkit-box-pack: center;  /* Vendor prefix for older WebKit browsers */
    -ms-flex-pack: center;      /* Vendor prefix for IE 10 */
    justify-content: center;   /* Standard justify-content property */
    -webkit-box-align: center;  /* Vendor prefix for older WebKit browsers */
    -ms-flex-align: center;     /* Vendor prefix for IE 10 */
    align-items: center;        /* Standard align-items property */
    -webkit-box-orient: vertical;  /* Vendor prefix for older WebKit browsers */
    -webkit-box-direction: normal; /* Vendor prefix for older WebKit browsers */
    -ms-flex-direction: column;    /* Vendor prefix for IE 10 */
    flex-direction: column;        /* Standard flex-direction property */
}

  .main-container-yoga{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }


  .yoga-about {
    display: -webkit-box;  /* Vendor prefix for older WebKit browsers */
    display: -ms-flexbox;  /* Vendor prefix for IE 10 */
    display: flex;         /* Standard display property */
    -webkit-box-orient: vertical;  /* Vendor prefix for older WebKit browsers */
    -webkit-box-direction: normal; /* Vendor prefix for older WebKit browsers */
    -ms-flex-direction: column;    /* Vendor prefix for IE 10 */
    flex-direction: column;        /* Standard flex-direction property */
    -webkit-box-pack: center;  /* Vendor prefix for older WebKit browsers */
    -ms-flex-pack: center;      /* Vendor prefix for IE 10 */
    justify-content: center;   /* Standard justify-content property */
}

@media only screen and (max-width: 768px) {
    .yoga-about {
        margin: 2%;  /* Apply margin as needed */
    }
}

@media only screen and (max-width: 480px) {
    .yoga-about {
        margin: 2%;  /* Apply margin as needed */
    }
}

  .border-bottom{
    border-bottom: 1px solid black;
  }

  .yuka-profile {
    max-width: 300px;
    width: 100%;
    display: -webkit-box;  /* Vendor prefix for older WebKit browsers */
    display: -ms-flexbox;  /* Vendor prefix for IE 10 */
    display: flex;         /* Standard display property */
    -webkit-box-orient: vertical;  /* Vendor prefix for older WebKit browsers */
    -webkit-box-direction: normal; /* Vendor prefix for older WebKit browsers */
    -ms-flex-direction: column;    /* Vendor prefix for IE 10 */
    flex-direction: column;        /* Standard flex-direction property */
    -webkit-box-pack: center;  /* Vendor prefix for older WebKit browsers */
    -ms-flex-pack: center;      /* Vendor prefix for IE 10 */
    justify-content: center;   /* Standard justify-content property */
    -webkit-box-align: center; /* Vendor prefix for older WebKit browsers */
    -ms-flex-align: center;     /* Vendor prefix for IE 10 */
    align-items: center;        /* Standard align-items property */
    border-radius: 8px;
}

@media only screen and (max-width: 768px) {
    .yuka-profile {
        max-width: 260px;  /* Adjust max-width as needed */
        width: 100%;
        -webkit-max-width: 260px;  /* Vendor prefix for older WebKit browsers */
        -ms-max-width: 260px;      /* Vendor prefix for IE 10 */
    }
}

@media only screen and (max-width: 480px) {
    .yuka-profile {
        max-width: 220px;  /* Adjust max-width as needed */
        width: 100%;
        -webkit-max-width: 220px;  /* Vendor prefix for older WebKit browsers */
        -ms-max-width: 220px;      /* Vendor prefix for IE 10 */
    }
}

.instructor-bio {
  display: -webkit-box;  /* Vendor prefix for older WebKit browsers */
  display: -ms-flexbox;  /* Vendor prefix for IE 10 */
  display: flex;         /* Standard display property */
  -webkit-box-pack: space-evenly;  /* Vendor prefix for older WebKit browsers */
  -ms-flex-pack: space-evenly;      /* Vendor prefix for IE 10 */
  justify-content: space-evenly;   /* Standard justify-content property */
  -webkit-box-align: center; /* Vendor prefix for older WebKit browsers */
  -ms-flex-align: center;     /* Vendor prefix for IE 10 */
  align-items: center;        /* Standard align-items property */
  padding: 2%;
  border-radius: 8px;
  list-style-type: none;
}

@media only screen and (max-width: 768px) {
  .instructor-bio {
      max-width: 400px;
      width: 100%;
      -webkit-box-orient: vertical;  /* Vendor prefix for older WebKit browsers */
      -webkit-box-direction: normal; /* Vendor prefix for older WebKit browsers */
      -ms-flex-direction: column;    /* Vendor prefix for IE 10 */
      flex-direction: column;        /* Standard flex-direction property */
  }
}

@media only screen and (max-width: 480px) {
  .instructor-bio {
      max-width: 400px;
      width: 100%;
      -webkit-box-orient: vertical;  /* Vendor prefix for older WebKit browsers */
      -webkit-box-direction: normal; /* Vendor prefix for older WebKit browsers */
      -ms-flex-direction: column;    /* Vendor prefix for IE 10 */
      flex-direction: column;        /* Standard flex-direction property */
  }
}

.instructor-photo {
  width: 300px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

@media only screen and (max-width: 768px) {
  .instructor-photo {
      max-width: 200px;  /* Example max-width adjustment for smaller screens */
      width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .instructor-photo {
      max-width: 150px;  /* Example max-width adjustment for even smaller screens */
      width: 100%;
  }
}

  .instructor-info{
    max-width: 600px;
    width: 100%;
  }
.yuka-yoga-bio{
  max-width: 400px;
  width: 100%;
}
.lesson-location-section {
  max-width: 800px;
  width: 100%;
  display: flex;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .lesson-location-section {
      max-width: 400px;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
  }
}

@media only screen and (max-width: 480px) {
  .lesson-location-section {
      max-width: 400px;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
  }
}


.lessons {
  max-width: 400px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style-type: none;
}

.class-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
}


  .class-list li{
    list-style-type: none;
  }
  .no-mp{
    margin: 0px;
    padding:0px
  }
  .prices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  @media only screen and (max-width: 768px) {
    .prices {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 2%;
    }
  }

  @media only screen and (max-width: 480px) {
    .prices {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 2%;
    }
  }


#yoga-wheel-img1{
 max-width: 200px;
 width: 100%;
 border-radius: 8px;
}

#yoga-wheel-img2{
  max-width: 200px;
  width: 100%;
  border-radius: 8px;


}
#yoga-wheel-img3{
  max-width: 200px;
  width: 100%;
  border-radius: 8px;


}


  /* Style inputs with type="text", select elements and textareas */
  input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }

  /* Add a background color and some padding around the form */
  .container {
    max-width: 800px;
    width: 100%;
    color: white;
    border-radius: 5px;
    background-color: #000000;
    padding: 20px;
    margin: 0 auto;
  }
  @media only screen and (max-width: 768px) {
    .contatiner{
      max-width: 300px;
      width: 100%;

    }
    }

  @media only screen and (max-width: 480px) {
    .container {
      max-width: 300px;
      width: 100%;

    }
  }
